@import url(https://fonts.googleapis.com/css?family=Varela+Round);


body {
    font-family: 'varela round', sans-serif;
    background-color: black;
    color: silver;
}

.container {
    padding-bottom: 3%;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
}

#banner h1{
    margin: 0;
    background: -webkit-radial-gradient(grey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    border: 0;
    height: 1px;
    background: silver;
    background-image: linear-gradient(to right, white, silver, white);
}

.container-mission-statement {
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-mission-statement * {
    padding: 2% 0%;
}

.container-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    align-items: center;
}

.image-link{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    height: 350px;
    width: 350px;
    padding: 0% 7%;
    border-radius: 50%;
}

.caption{
    position: absolute;
    padding-top: 42.5%;
    text-decoration: underline;
}

.caption h2{
    color:white;
}




footer {
    padding: 5%;
}

